@model WebsitePerfomance.Models.SiteViewModel
@{
    ViewBag.Title = "Details";
}
<a href="/WebsitePerfomance/Index">Back to main page</a>
<h2>Details of @Model.Url</h2>

@*@Html.Partial("ChartPartial")*@
@Html.Partial("HistoryPartial")

<a href="/WebsitePerfomance/Index">Back to main page</a>